[Unit]
Description=Servico de busca e processamento de posicoes e trechos

[Service]
WorkingDirectory=/srv/Followair
# systemd will run this executable to start the service
# if /usr/bin/dotnet doesn't work, use `which dotnet` to find correct dotnet executable path
ExecStart=/usr/share/dotnet/dotnet /srv/Followair/Followair.TrackingWorker.dll
# to query logs using journalctl, set a logical name here
SyslogIdentifier=FollowairTrackingWorker

# Use your username to keep things simple.
# If you pick a different user, make sure dotnet and all permissions are set correctly to run the app
# To update permissions, use 'chown yourusername -R /srv/Followair' to take ownership of the folder and files,
#       Use 'chmod +x /srv/Followair/Followair' to allow execution of the executable file
User=root

# This environment variable is necessary when dotnet isn't loaded for the specified user.
# To figure out this value, run 'env | grep DOTNET_ROOT' when dotnet has been loaded into your shell.
Environment=DOTNET_ROOT=/usr/lib64/dotnet
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
