[Unit]
Description=proxy_websoket
Documentation=https://example.com
After=network.target

[Service]
Type=simple
User=root
ExecStart=node /proxy_websoket/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
